:root {
  --primary: #ffffff;
  --secondary: #3366ff;
  --dot_size: 25px;
  --item_gap: 20px;
}

.rh-list-container {
  display: flex;
  gap: 50px;
  align-items: center;
}

.list-wrapper {
  position: relative;
  height: calc(var(--dot_size) + 80px);
}

.rh-list-container ul {
  display: flex;
  gap: var(--item_gap);
  list-style-type: none;
  padding-inline-start: 0px;
  height: 100%;
}
.rh-list-container ul li {
  position: relative;
  min-width: 150px;
  height: 100%;
  text-align: center;
  cursor: pointer;
}
.rh-list-container ul li .timeline-dot {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: var(--dot_size);
  height: var(--dot_size);
  border: 2px solid var(--secondary);
  border-radius: 100%;
  z-index: 1;
  background: var(--secondary);
}

.rh-list-container ul li.active .timeline-dot {
  border: calc(var(--dot_size) - 20px) solid var(--secondary);
  background: var(--primary);
}

.rh-list-container ul li .timeline-title {
  font-size: 16px;
  font-weight: 600;
}

.list-wrapper .fill-line {
  display: block;
  position: absolute;
  width: 100%;
  height: 3px;
  background: var(--secondary);
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

/* Button styles */
.rh-list-container button {
  width: calc(var(--dot_size) + 10px);
  height: calc(var(--dot_size) + 10px);
  padding: 10px;
  background: var(--primary);
  color: var(--secondary);
  border: 2px solid var(--secondary);
  border-radius: 100%;
  cursor: pointer;
}
